astroid==2.5.3
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
cryptography==3.4.7
Flask==1.1.2
greenlet==1.0.0
gunicorn==20.1.0
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
pycparser==2.20
pylint==2.7.4
PyMySQL==1.0.2
python-dotenv==0.17.0
six==1.15.0
SQLAlchemy==1.4.8
toml==0.10.2
Werkzeug==1.0.1
wrapt==1.12.1
